@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;600&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Comfortaa', cursive;
}

header {
    justify-content: center;
}

.box-header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #da2626;
    height: 70px;
    width: 100%;
    margin-top: 35px;
}

.img-header {
    cursor: pointer;
    margin-right: 30px;
    margin-top: 5px;
}

.list-header {
    list-style: none;
    display: flex;
    flex-direction: row;
}

.list-header li {
    margin-top: 13px;
}

.list-header li a {
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    font-size: 13px;
    margin-right: 15px;
}

.list-header li a:hover {
    transition: 0s;
    color: #ff6868;
}

.list-header li .outlet {
    color: yellow;
}

.list-header li .outlet:hover {
    transition: 0s;
    color: yellow;
}

.input-header {
    padding: 10px 10px;
    margin-top: 13px;
    width: 250px;
    border-radius: 5px;
    border: 1px solid #ff6868;
    background: transparent;
    text-decoration: none;
    list-style: none;
    font-size: 12px;
    display: inline-block;
    display:inline-block;
    outline:0;
}

.input-header::placeholder {
    text-decoration: none;
    color: #fff;
}

.input-header:focus,
input:focus {
    box-shadow: 0 0 0 0;
    outline: 0;
}

.btn-header {
    margin-top: 13px;
    height: 50%;
    width: 45px;
    cursor: pointer;
    border-radius: 5px;
    border: 1px solid #ff6868;
    background-color: transparent;
    color: white;
}

.box-subheader{
    height: 40px;
    width: 100vw;
    background-color: #c61c1c;
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.parag-subheader{
    text-align: center;
    color: #fff;
    text-transform: uppercase;
    font-size: 13px;
}

.img{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}